<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
      <add key="btgm" value ="http://172.16.75.90:8081/repository/btgm-nuget-repo/index.json" allowInsecureConnections="true" />
  </packageSources>
</configuration>
